asgiref==3.2.3
astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
Django==3.0.1
django-tailwind==0.7.1
django-user-language-middleware==0.0.3
DjangoSEO==1.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mailjet-rest==1.3.3
mccabe==0.6.1
mysqlclient==1.4.6
Pillow==6.2.1
pycodestyle==2.5.0
pylint==2.4.4
PyMySQL==0.9.3
python-decouple==3.3
python-http-client==3.2.7
pytz==2019.3
requests==2.22.0
sendgrid==6.3.0
six==1.13.0
sqlparse==0.3.0
stripe==2.42.0
urllib3==1.25.8
wrapt==1.11.2
