asgiref==3.2.3
astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
Django==3.1.13
django-tailwind==0.7.1
django-user-language-middleware==0.0.3
DjangoSEO==1.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mailjet-rest==1.3.3
mccabe==0.6.1
mysqlclient==2.0.1
packaging==20.4
Pillow==7.2.0
pycodestyle==2.5.0
PyMySQL==0.10.0
pyparsing==2.4.7
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
stripe==2.50.0
urllib3==1.25.8
wrapt==1.11.2
