{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
{% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
<div class="container mx-auto px-8 mt-2">
    <h1 class="text-gray-800 text-2xl font-bold">{% trans "Check your order" %}</h1>
    <div class="mt-12 flex">
        <div class="w-3/5 flex flex-col mr-10">
            <table>
                <thead>
                    <tr class="text-gray-700 text-sm">
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" class="text-right">{% trans "Price" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart.products.all %}
                    {% include 'orders/snippets/product.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% url 'orders:address' as next_url %}
        {% include 'orders/snippets/resume.html' with next_url=next_url  %}
    </div>
</div>
{% endblock %}