/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #edf2f7;
}

.StripeElement--focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    outline: 0;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}