{% load i18n %}

<form action="{% url 'carts:add' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">


    <div class="flex flex-row mt-2">
        <div id="remove"
            class="px-4 font-semibold border text-gray-700 border-gray-400 h-10 flex rounded-l focus:outline-none cursor-pointer">
            <span class="m-auto">-</span>
        </div>
        <input id="quantity" name="quantity" type="number" value="1"
            class="h-10 w-12 pl-3 text-gray-800 text-xs md:text-base border-t border-b border-gray-400 focus:outline-none text-center"
            readonly>
        <div id="add"
            class="px-4 font-semibold border bg-white text-gray-700 border-gray-400 h-10 flex rounded-r focus:outline-none cursor-pointer">
            <span class="m-auto">+</span>
        </div>
    </div>

    <button type="submit"
        class="mt-4 px-3 py-2 bg-blue-600 hover:bg-blue-500 text-white text-sm font-semibold rounded focus:outline-none focus:shadow-outline">{% trans "Add to cart" %}</button>
</form>

<script>
    const add = document.getElementById('add')
    const remove = document.getElementById('remove')
    const quantity = document.getElementById('quantity')
    const cartQuantity = document.getElementById('qtyItems')
    let cartProducts = parseInt(cartQuantity.innerHTML) == null ? 0 : parseInt(cartQuantity.innerHTML)

    cartQuantity.innerHTML = parseInt("{{ request.session.products_quantity }}") + 1

    add.addEventListener('click', function () {
        value = parseInt(quantity.value) + 1

        if (value >= 99) {
            value = 99
        }

        if (cartProducts > 0 && (cartProducts + value) > 99) {
            value = value - 1
        }

        quantity.value = value

        cartQuantity.innerHTML = cartProducts + value

    })
    remove.addEventListener('click', function () {
        value = parseInt(quantity.value)

        if (value != 1) {
            value = value - 1
        }

        quantity.value = value

        cartQuantity.innerHTML = parseInt("{{ request.session.products_quantity }}") + value
    })
</script>